.encabezado-empleadosconceptos th{
    background-color: #32314e;
    color: white;
    font-weight: 600;
}
.table-container {
  width: 100%;
  overflow-x: auto;
}


.acciones-col {
  white-space: nowrap;
}


.table-responsive {
  border-radius: 8px;
}


@media (max-width: 768px) {

  app-sidebar {
    width: 70px; 
  }

  .content {
    margin-left: 70px;
    padding: 10px;
  }

  table {
    font-size: 13px;
  }

}