
<div 
  class="sidebar-overlay"
  *ngIf="sidebarOpen"
  (click)="closeSidebarMobile()">
</div>


<nav class="sidebar text-white p-3"
     [class.sidebar-open]="sidebarOpen">

  <ul class="nav flex-column">

    <li class="nav-item">
      <a routerLink="/dashboard"
         routerLinkActive="active"
         class="nav-link text-white"
         (click)="closeSidebarMobile()">
        <i class="bi bi-speedometer2"></i> Dashboard
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/usuarios"
         routerLinkActive="active"
         class="nav-link text-white"
         (click)="closeSidebarMobile()">
        <i class="bi bi-people"></i> Usuarios
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/infoempresa"
         routerLinkActive="active"
         class="nav-link text-white"
         (click)="closeSidebarMobile()">
        <i class="bi bi-building"></i> Empresa
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/areas"
         routerLinkActive="active"
         class="nav-link text-white"
         (click)="closeSidebarMobile()">
        <i class="bi bi-building"></i> Áreas
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/conceptos"
         routerLinkActive="active"
         class="nav-link text-white"
         (click)="closeSidebarMobile()">
        <i class="bi bi-building"></i> Conceptos
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/empleados"
         routerLinkActive="active"
         class="nav-link text-white"
         (click)="closeSidebarMobile()">
        <i class="bi bi-building"></i> Empleados
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/empleado-conceptos"
         routerLinkActive="active"
         class="nav-link text-white"
         (click)="closeSidebarMobile()">
        <i class="bi bi-building"></i> Conceptos de Empleados
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/periodos"
         routerLinkActive="active"
         class="nav-link text-white"
         (click)="closeSidebarMobile()">
        <i class="bi bi-building"></i> Períodos
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/movimientos"
         routerLinkActive="active"
         class="nav-link text-white"
         (click)="closeSidebarMobile()">
        <i class="bi bi-building"></i> Movimientos
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/nomina"
         routerLinkActive="active"
         class="nav-link text-white"
         (click)="closeSidebarMobile()">
        <i class="bi bi-building"></i> Nómina
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/boleta-pago"
         routerLinkActive="active"
         class="nav-link text-white"
         (click)="closeSidebarMobile()">
        <i class="bi bi-building"></i> Boleta de Pago
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/reportes"
         routerLinkActive="active"
         class="nav-link text-white"
         (click)="closeSidebarMobile()">
        <i class="bi bi-building"></i> Reportes
      </a>
    </li>

  </ul>

</nav>