form {
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-top: 10px;
  }
  
  form input, form select {
    width: 200px;
    padding: 5px;
  }
  
  button {
    margin: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  table th {
    background-color: #f4f4f4;
  }


  .encabezado-usuarios th {
    background-color: #32314e;
    color: white;
    font-weight: 600;
  }
.btn-edit:hover {
    background-color: #d8d8d8;
  }

  .btn-edit{
    background-color: white; 
    border-color: #13142a; 
    color: #13142a;
  }
  

  /*Pestaña de Activos e Inactivos*/
.estado-badge {
  padding: 5px 12px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
}

.estado-badge.activo {
  background-color: #d1f2df;
  color: #198754;
  border: 1px solid #198754;
}

.estado-badge.inactivo {
  background-color: #f8d7da;
  color: #dc3545;
  border: 1px solid #dc3545;
}