<div class="d-flex justify-content-between align-items-center mb-3">
  <h2 class="mb-3">Gestión de Áreas</h2> 

  <button type="button" class="btn btn-primary mb-3" (click)="openModal(content)" 
    style="background-color: #13142a; border-color: #13142a;">
    Crear Área
  </button>
</div>
<div class="table-container">
  <div class="table-responsive">

    <table class="table table-striped table-hover table-bordered align-middle tabla-areas">

      <thead class="encabezado-areas">
        <tr>
          <th>ID</th>
          <th>Área</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let a of areas">
          <td>{{ a.id_area }}</td>
          <td>{{ a.area }}</td>

          <td>
            <span 
              class="estado-badge"
              [ngClass]="a.estado === 'Activo' ? 'activo' : 'inactivo'">
              {{ a.estado }}
            </span>
          </td>

          <td class="acciones-col">
            <button class="btn btn-warning btn-sm me-2 btn-edit"
              (click)="editArea(a, content)">
              <i class="bi bi-pencil-square"></i>
            </button>

            <button class="btn btn-danger btn-sm btn-edit"
              (click)="deleteArea(a.id_area)">
              <i class="bi bi-trash"></i>
            </button>
          </td>

        </tr>
      </tbody>

    </table>

  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header" style="background-color: #32314e;"> 
    <h5 class="modal-title" style="color: white;">{{ editing ? 'Editar Área' : 'Crear Área' }}</h5>
    <button type="button" class="btn-close" aria-label="Close" data-bs-theme="dark" (click)="modal.dismiss()"></button>
  </div>

  <form [formGroup]="areaForm" (ngSubmit)="saveArea()">
    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label">Nombre del Área:</label>
        <input formControlName="area" type="text" class="form-control" />
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success">{{ editing ? 'Actualizar' : 'Crear' }}</button>
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
    </div>
  </form>
</ng-template>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div 
    class="toast align-items-center text-white border-0" 
    role="alert" 
    [class.show]="toastVisible" 
    [ngClass]="toastColor">
    <div class="d-flex">
      <div class="toast-body">
        {{ toastMessage }}
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="toastVisible=false"></button>
    </div>
  </div>
</div>

