<div class="d-flex justify-content-between align-items-center mb-3">
  <h2 class="mb-3">Gestión de Empleados</h2>

  <button type="button" class="btn btn-primary mb-3" (click)="openModal(content)"
    style="background-color: #13142a; border-color: #13142a;">
    Crear Empleado
  </button>
</div>
<div class="table-container">
  <div class="table-responsive">

    <table class="table table-striped table-hover table-bordered align-middle tabla-empleados">

      <thead class="encabezado-empleados">
        <tr>
          <th>ID</th>
          <th>DNI</th>
          <th>Nombre Completo</th>
          <th>Cargo</th>
          <th>Fecha Ingreso</th>
          <th>Salario base</th>
          <th>IHSS</th>
          <th>Cuenta Bancaria</th>
          <th>Área</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let e of empleados">
          <td>{{ e.id_empleado }}</td>
          <td>{{ e.dni }}</td>
          <td>{{ e.nombre_completo }}</td>
          <td>{{ e.cargo }}</td>
          <td>{{ e.fecha_ingreso }}</td>
          <td>{{ e.salario_base | number:'1.2-2' }}</td>
          <td>{{ e.numero_ihss }}</td>
          <td>{{ e.cta_bancaria }}</td>
          <td>{{ e.Area?.area || 'Sin área' }}</td>

          <td>
            <span 
              class="estado-badge"
              [ngClass]="e.estado === 'Activo' ? 'activo' : 'inactivo'">
              {{ e.estado }}
            </span>
          </td>

          <td class="acciones-col">
            <button class="btn btn-warning btn-sm me-2 btn-edit"
              (click)="editEmpleado(e, content)">
              <i class="bi bi-pencil-square"></i>
            </button>

            <button class="btn btn-danger btn-sm btn-edit"
              (click)="deleteEmpleado(e.id_empleado)">
              <i class="bi bi-trash"></i>
            </button>
          </td>

        </tr>
      </tbody>

    </table>

  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header" style="background-color: #32314e;">
    <h5 class="modal-title" style="color: white;">{{ editing ? 'Editar Empleado' : 'Crear Empleado' }}</h5>
    <button type="button" class="btn-close" aria-label="Close" data-bs-theme="dark" (click)="modal.dismiss()"></button>
  </div>

  <form [formGroup]="empleadoForm" (ngSubmit)="saveEmpleado()">
    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label">DNI:</label>
        <input formControlName="dni" type="text" class="form-control" />
      </div>

      <div class="mb-3">
        <label class="form-label">Nombre Completo:</label>
        <input formControlName="nombre_completo" type="text" class="form-control" />
      </div>

      <div class="mb-3">
        <label class="form-label">Cargo:</label>
        <input formControlName="cargo" type="text" class="form-control" />
      </div>

      <div class="mb-3">
        <label class="form-label">Fecha Ingreso:</label>
        <input formControlName="fecha_ingreso" type="date" class="form-control" />
      </div>

      <div class="mb-3">
        <label class="form-label">Salario base:</label>
        <input formControlName="salario_base" type="number" min="0" step="0.01" class="form-control" />
      </div>

      <div class="mb-3">
        <label class="form-label">Número IHSS:</label>
        <input formControlName="numero_ihss" type="text" class="form-control" />
      </div>

      <div class="mb-3">
        <label class="form-label">Cuenta Bancaria:</label>
        <input formControlName="cta_bancaria" type="text" class="form-control" />
      </div>

      <div class="mb-3">
        <label class="form-label">Área:</label>
        <select formControlName="id_area" class="form-select">
          <option [ngValue]="null">Seleccione un área</option>
          <option *ngFor="let a of areas" [value]="a.id_area">
            {{ a.area }}
          </option>
        </select>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success">{{ editing ? 'Actualizar' : 'Crear' }}</button>
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
    </div>
  </form>
</ng-template>

<!-- Toast -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div 
    class="toast align-items-center text-white border-0" 
    role="alert" 
    [class.show]="toastVisible" 
    [ngClass]="toastColor">
    <div class="d-flex">
      <div class="toast-body">
        {{ toastMessage }}
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="toastVisible=false"></button>
    </div>
  </div>
</div>

