.encabezado-empleados th{
  background-color: #32314e;
  color: white;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}


.tabla-empleados {
  min-width: 1100px; 
}


.acciones-col {
  white-space: nowrap;
}


.table-responsive {
  border-radius: 8px;
}


.content {
  margin-left: 250px;
}

@media (max-width: 768px) {

  .tabla-empleados {
    font-size: 13px;
  }

  .content {
    margin-left: 70px;
    padding: 10px;
  }

}