.encabezado-conceptos th{
    background-color: #32314e;
    color: white;
    font-weight: 600;
}
.table-container {
  width: 100%;
  overflow-x: auto;
}

.tabla-conceptos {
  min-width: 950px;
}

.acciones-col {
  white-space: nowrap;
}

.content {
  margin-left: 250px;
}

.invalid-feedback {
  display: block;
}

@media (max-width: 768px) {

  .tabla-conceptos {
    font-size: 13px;
  }

  .content {
    margin-left: 70px;
    padding: 10px;
  }

}